In [4]:
import numpy as np
import pandas as pd

In [5]:
# NUMBER 1
a = np.arange(100,113)

# NUMBER 1A
print("shape:", a.shape)

# NUMBER 1B
print("type:", type(a))

shape: (13,)
type: <class 'numpy.ndarray'>

In [6]:
# NUMBER 1C
list1 = []
for i in a:
    if (105 < int(i) <= 110):
        list1.append(int(i) > 105)
print(list1)

[True, True, True, True, True]

In [7]:
# NUMBER 1D
for i in range(len(list1)):
    list1[i] = 0
print(list1)

[0, 0, 0, 0, 0]

In [18]:
# NUMBER 1E
data1 = [5, 6, 7, 8, 9, 10]
df_data1 = pd.DataFrame(data1, columns=['Numbers'])

data2 = df_data1[:]
data2['Numbers'] = 0
data2

   Numbers
0        0
1        0
2        0
3        0
4        0
5        0

In [97]:
# NUMBER 2

random1 = np.random.randint(0, 100, size=(4,3))

df_random1 = pd.DataFrame(random1)
df_random1

    0   1   2
0  64  99  61
1  96   3  91
2  12  84  55
3  70  35  57

In [98]:
ds1 = df_random1.iloc[0].max()
ds2 = df_random1.iloc[1].max()
ds3 = df_random1.iloc[2].max()
ds4 = df_random1.iloc[3].max()

ds_max = pd.Series((ds1, ds2, ds3, ds4), index=['Row 1 Max', 'Row 2 Max', 'Row 3 Max', 'Row 4 Max'])
ds_max

Row 1 Max    99
Row 2 Max    96
Row 3 Max    84
Row 4 Max    70
dtype: int64

In [ ]:
max_random1 = np.max(df_random1, axis=1)
print(max_random1.ndim)

1